

.branches{
    height: 85vh;
    position: relative;
}



.branche-content{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);  
    padding: 0 100px;
  
    
}

.branch-item{
    background-color: #f8f8f8;
}
.open-btn{
    background-color: #d5e9d6;
    color: green;
    padding: 10px 20px;
}
.open-btn:hover{
    color: green;
    opacity: .8;
}
.branch-contact{
    padding: 5px 7px;
}
.branch-contacts  a:nth-child(4) i{
    background-color: #03a9f4;
    color: white !important;
    padding: 5px;
}

.branch-contacts  a:nth-child(2) i{
   color: #c32aa3;
   font-size: 1.3rem;
}

/* password verify */
.phone-verify{
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    border-radius: 15px !important;
    display: none;
  }
  .phone-verify-btn a{
    width: 335px !important;
  }
  /* ../password verify */
/*all media query */
@media (max-width: 776px) {
    .branche-content{
        padding: 0 10px;
    }
    
}