* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}
html{
  height: 100%;
}
:root {
  --white-color: white;
  --main-color: #212045;
  --light-bg: #eef7f6;
  --black:#000;
}

body {
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
  position: relative;
  box-sizing: inherit;
  min-height: 100%;
}

/* general tags styles */
img {
  max-width: 100%;
}

select {
  -webkit-appearance:none;
  -moz-appearance:none;
  -ms-appearance:none;
  appearance:none;
  outline:0;
  box-shadow:none;
  border:0!important;
  background: inherit;
  background-image: none;
  color:#fff;
  cursor:pointer;
  font-size: 1em;
  text-decoration: underline;
padding: 5px 10px;


}
select option{
  color: #373355;
}



ul {
  margin-bottom: 0;
}
li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--white-color);
}
a:focus {
  outline: 0;
}
a:hover {
color: var(--white-color);
}
i {
  cursor: pointer;
}
.pointer{
    cursor: pointer;
}
.w-20px{
  width: 20px;
}

.bg-gray{
  background-color: #f8f8f8;
}
.bg-main{
  background-color: var(--main-color) !important;
color: var(--white-color) !important;
}
.bg-main:hover{
  color: var(--white-color);
  background-color: var(--main-color);

}
.color-main{
  color: var(--main-color);
}
.color-main:hover{
  color: var(--main-color);
}
.opacity{
  opacity: 0.8;
}


.branch-breadcrumb{
  height: 20vh;
  width: 100%;
  background-image: url(../images/home-bg.png);
  background-position: center;
  background-size: cover;
  position: relative;
}
.branch-breadcrumb nav{
  z-index: 5;
  color: var(--white-color) !important;
  position: absolute;
  top: 40%;

}
.branch-breadcrumb nav p{
  font-size: 1.1rem;
}
.breadcrumb-item.active {
  color: #f8f8f8;
  opacity: 0.8;
}
.breadcrumb-item+.breadcrumb-item::before {
display: none;
}
.breadcrumb-overlay{
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 2;
  
  }
  .btn-check:active+.btn-outline-dark, .btn-check:checked+.btn-outline-dark, .btn-outline-dark.active, .btn-outline-dark.dropdown-toggle.show, .btn-outline-dark:active {
    color: #fff;
    background-color: var(--main-color);
    border-color: var(--main-color);
  }
  .btn-outline-dark {
    color: #000;
    border-color: #ccc;
    background-color: #f8f8f8;
}
  .btn-outline-dark:hover {
    background-color: var(--main-color);
    border-color: var(--main-color);
  }
  .btn-outline-dark:hover .card-title{
    color: #fff;

  }
  .search-input{
    background-color: var(--main-color) !important;
    color: var(--white-color) !important;
  }

/* ../general tags styles */

/* landing pagr */
/* navbar */
.nav-container {
  max-width: 1050px !important;
}
.bg-custom{
  background: linear-gradient(to right, #6c6581, #373355 50%, #212045 100%);
  color: var(--white-color);
  padding: 10px 0;

}
.logo a{
  color: var(--white-color);
  font-size: 2.5rem;
  font-weight: bold;
}
.search-icon{
  background-color: rgba(0,0,0,.2);
    padding: 5px 10px;
    border-radius: 5px;
}
/* ../navbar */

/* land-home*/
.land-home {
  background-image: url(../images/home-bg.png);
  height: 100vh;
  background-repeat: no-repeat;
  background-position: 90% 50%;
    background-size: cover;
}
.home-intro{
  position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 30%);  
}
.home-intro .intro-title{
  color: var(--black);
  font-size: 1.2rem;
  font-weight: 900;
}
  .intro-btn .btn{
  width: 210px;
  background-color: #212045 !important;
color: var(--white-color);
}
/* ../land-home*/

/* products */
.btn-product{
  background-color: var(--main-color);
  color: var(--white-color);
}
.btn-product:hover{
  color: var(--white-color);
}
.search-type-item {
  cursor: pointer;
  background-color: #f8f8f8;
  opacity: 0.9;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}
.search-type-item:hover {
  background-color: var(--main-color);
  color: var(--white-color);
  opacity: 1;
}
.cart-car .card{
  padding: 15px;
}
.counter-container {
  font-size: 22px;
  margin: 0 15px;
}

.decrement{
 color: var(--main-color);
 background-color: whitesmoke;
}

/* user */
.gender{
  text-decoration: none;
  border: 1px solid #ccc !important;
}
.data-form{
  border: 1px solid #ccc !important;
  padding: 30px 15px 120px 15px;
}
.active-user{
  background-color: #e9e8eb;
  color: var(--main-color);
  border-radius: 5px;
}
.active-order{
  background-color: var(--main-color);
  color: var(--white-color);
}
.active-order:hover{
  color: var(--white-color);
}
.cart-branch-content  {
  background-color: #f0f0f0;
  padding: 10px;
}
/* footer */
.footer{
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
}
.footer .row {
  opacity: 0.8;
}

/* models */
.flav-img{
  width: 100%;
  height: 200px;
  background-image:url(../images/product.png) ;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}
.iti {
  width: 100%;
}
/*../ footer */



/*all media query */
@media (max-width: 776px) {
  .land-home {
    background-position: 60% 50%;
}

}

@media (min-width: 768px) and (max-width: 1199.98px) {

}
